<div class="container">
    <mat-card class="confirmation-card">
        <mat-card-content>
            <mat-card-title>{{name}}</mat-card-title>
            <mat-radio-group aria-label="Select an option" class="radio-group" [(ngModel)]="confirmation">
                <mat-radio-button value="yes" color="primary">Estarei Lá!</mat-radio-button>
                <mat-radio-button value="no" color="primary">Non puedo :(</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
        <mat-card-content>
            <mat-checkbox class="example-margin dietary-checkbox" color="primary" [(ngModel)]="vegetariano">Vegano/Vegetariano</mat-checkbox>
        </mat-card-content>
        <img *ngIf="confirmation === 'yes'" src="https://i.imgur.com/zwUu7ad.jpeg" alt="Yes" class="confirmation-image">
        <img *ngIf="confirmation === 'no'" src="https://i.imgur.com/FQOzWIF.jpeg" alt="No" class="confirmation-image">
    </mat-card>
</div>
