<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

    <button class="navbar-toggler space" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <img class="navbar-brand" src="https://i.imgur.com/xQrKJ7d.png" alt="">
    <button  (click)="logout()"  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon>logout</mat-icon>
    </button>
    <div class="menu-container" *ngIf="currentRoute !== '/'">
      <div class="menu-item" *ngIf="currentRoute !== '/lista-de-presentes'">
        <a href="./lista-de-presentes"><button mat-raised-button>Presentes</button></a>
      </div>
      <div class="menu-item"  *ngIf="currentRoute !== '/confirmacao'">
        <a href="./confirmacao"><button mat-raised-button>Confirmação</button></a>
      </div>
      <div class="menu-item"  *ngIf="currentRoute !== '/informacoes-evento'">
        <a href="./informacoes-evento"><button mat-raised-button>Informações</button></a>
      </div>
      <div class="menu-item"  *ngIf="currentRoute !== '/sobre-nos'">
        <a href="./sobre-nos"><button mat-raised-button>Sobre Nós</button></a>
      </div>
      <div class="menu-item" id="logout-lg">
        <button mat-button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>