<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="./lista-de-presentes">Lista de Presentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./confirmacao">Confirmação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./informacoes-evento">Informações Evento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./mural-de-mensagens">Mural de Mensagens</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="example-button-container">
          <a mat-fab extended routerLink="." (click)="logout()">
            <mat-icon>logout</mat-icon>
            Sair
          </a>
        </div>
      </form>
    </div>
  </div>
</nav>