<div class="container">
    convidados confirmados: {{convidadosConfirmados}} <br>
    convidados que não vão: {{convidadosRecusados}} <br>
    convidados sem resposta: {{convidadosSemResposta}} <br>
    convidados confirmados/sem resposta: {{convidadosConfirmados+convidadosSemResposta}} <br>
    veganos confirmados: {{veganosConfirmados}} <br>
    visitas site: {{visitasSite}}
    <table mat-table [dataSource]="convidados" class="mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="nome_convidado">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let convidados"> {{convidados.nome_convidado}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="id_convite">
          <th mat-header-cell *matHeaderCellDef> Convite </th>
          <td mat-cell *matCellDef="let convidados"> {{convidados.id_convite}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let convidados"> {{convidados.status}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="vegano">
          <th mat-header-cell *matHeaderCellDef> Vegano </th>
          <td mat-cell *matCellDef="let convidados"> {{convidados.vegano}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="visitas_site">
          <th mat-header-cell *matHeaderCellDef> Visitas Site </th>
          <td mat-cell *matCellDef="let convidados"> {{convidados.visitas_site}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>