<div class="container">
    <h2>Informações do Casamento</h2>
    <p><strong>Cerimônia e Festa:</strong> Os dois eventos serão no mesmo local</p>
    <p><strong>Data:</strong> 26 de Abril de 2025</p>
    <p><strong>Horário:</strong> 15:00h</p>
    <p><strong>Local:</strong> Chácara En-canto dos Colibris <br> Rua Heitor Penteado, 1932. Joaquim Egídio - Campinas. <br>Logo após os restaurante Vila Paraíso</p>

    <a href="https://maps.app.goo.gl/99CaDingNioTjj3H6"><button mat-raised-button>Ver Mapa</button></a>

    <br>
    <br>

    <p><strong>Traje:</strong> Esporte Fino</p>


    <p>Algumas informações adicionais:</p>
    <ul>
      <li> Haverá estacionamento no local, mas evitem ir dirigindo para bebemorar com os noivos</li>
    </ul>
    <br>
    <br>
</div>
