<h1>Linha do Tempo desse Casalzão</h1>
<br><br><br>
<ul>
    <li style="--accent-color:pink">
        <div class="date">1993</div>
        <div class="title">Curitiba</div>
        <div class="descr">Nasce Pedro.</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">1995</div>
        <div class="title">Nhandeara</div>
        <div class="descr">Nasce Isabella</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2011</div>
        <div class="title">Campinas</div>
        <div class="descr">Pedro começa seus estudos na Unicamp</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2013</div>
        <div class="title">Campinas</div>
        <div class="descr">Isabella começa seus estudos na Unicamp</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2019</div>
        <div class="title">Campinas</div>
        <div class="descr">Pedro e Isabella fazem seu primeiro encontro. Isabella rouba o primeiro beijo.</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2020</div>
        <div class="title">Araçatuba</div>
        <div class="descr">Isabella muda-se de Campinas para Araçatuba para focar nas provas de residência</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2020</div>
        <div class="title">Araçatuba</div>
        <div class="descr">Em julho, Pedro vai visitar Isabella. O namoro então começa</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2021</div>
        <div class="title">Campinas</div>
        <div class="descr">Isabella passa na residência da Unicamp. Os dois voltam a morar na mesma cidade</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2023</div>
        <div class="title">João Pessoa</div>
        <div class="descr">Isabella vai fazer um estágio na UFPB</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2023</div>
        <div class="title">João Pessoa</div>
        <div class="descr">Pedro vai visitar Isabella e a pede em casamento. Ela diz sim!</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2024</div>
        <div class="title">Campinas</div>
        <div class="descr">Isabella e Pedro adotam o Jorginho. AU! AU!</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2025</div>
        <div class="title">Campinas</div>
        <div class="descr">Isabella e Pedro se Casam. Você estará conosco!</div>
    </li>
    <li style="--accent-color:pink">
        <div class="date">2025 em diante</div>
        <div class="title">Seja aonde for</div>
        <div class="descr">Isabella e Pedro terão altas aventuras, agora casados!</div>
    </li>
</ul>
<br>
<br>