@use 'bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
h1 {
    color: var(--mat-sys-secondary);
}
mat-card-title {
    color: var(--mat-sys-secondary);
    margin: auto;
}