.example-card {
    max-width: 300px;
    margin: 0.2rem;
  
  .center{
    margin: auto;
    text-align: center;
  }

  .img-presente{
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p{
    color: var(--mat-sys-secondary);
  }
}